nav{
  position: absolute;
  top: 23px;
  right: 10%;
  font-family: 'Abel', sans-serif;

}
nav>ul li{
  display: inline-block;
  padding: 10px 30px;
  font-size: 1em;
  color: white;
  cursor: pointer;
}
.form{
  position: relative;
  width: 200px;

  margin-top: 5px;
  color: white;
  margin-right:15px;
   padding-bottom:20px;
}

.form>input[type=text],
.form>input[type=number]{
  background: none;
  width: 200px;
  padding:1px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid white;
  color: black;
  outline: none;
  display: block;
  font-size: 1em;


}

.form input[type=submit]{
  margin-top: 10px;
  background:silver;
  width: 100%;
  padding: 5px;
  color: black;
  font-size: 20px
}
 body{
   background-image:url('/images/wolves.jpg');
   background-repeat:no-repeat;
   background-size:cover;
 }

.well{
background-color:silver;
 margin-top:100px;
 margin-left:30px;
 width:300px;
}
.jumbotron{
 margin-top:140px;
 color:black;
 font-size: 20px;
 text-align: center;
  margin-left:120px;
  margin-right:120px;
  opacity:0.5;
  }