
{{#partial "title"}}

{{/partial}}

{{#partial "content"}}
<div class="jumbotron">
<p>Most animals are shy and rarely seen. <br>However, tracking reveals a world full of wild animals.<br>Find animals being tracked around the world and locate animals near you.</p>
<div>
{{/partial}}
<link rel='stylesheet' href='/App.css'>

{{> layout.hbs}}