 <h1>SIGHTINGS</h1>

           <form class="form" action="/new" method="post">
             <label for="content">Animal</label>
                <input type="number" placeholder="EndangeredAnimal" name="animal_id" required>
                <label for="content">rangerName</label>
               <input type="text" placeholder="rangerName" name="rangerName" required>
               <label for="content">location</label>
               <input type="text" placeholder="location" name="location" required>

               <input type="submit" class="btns">
           </form>