{{#partial "content"}}
<div class="first">
<h1>ALL SIGHTINGS</h1>
<table class="table table-bordered">
   <th scope="col">rangerName</th>
   <th scope="col">location</th>
   <th scope="col">animal_id</th>
{{#if item}}
               {{#each item}}
   <tr>

       <td class="table-success">{{rangerName}}</td>
       <td class="table-success">{{location}}</td>
       <td class="table-success">{{animal_id}}</td>

   </tr>
{{/each}}
{{else}}
   <p>No animal is found</p>
{{/if}}
</table>
</div>

{{/partial}}
{{>layout.hbs}}
